// Akaya Televigala

@font-face {
  font-family: "Akaya Televigala";
  src: url(@/assets/fonts/AkayaTelivigala-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Rubik

@font-face {
  font-family: "Rubik";
  src: url(@/assets/fonts/Rubik-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(@/assets/fonts/Rubik-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url(@/assets/fonts/Rubik-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
